.feature-item {
    position: relative;
    
    padding-bottom: 1.9rem;
   
    
    @mixin atSmall {
        padding-left: 94px;
    }

    &__icon {
        display: block;
        margin: 0 auto;

        @mixin atSmall {
            position: absolute;
            left: 0;            
        }
        
    }

    &__title {
      font-size: 1.6rem;
      font-weight: 300; 
      margin-bottom: .8rem; 
      margin-top: .7em;
      color: red;
      text-align: center;

      @mixin atSmall {
        text-align: left;
        margin-top: 1em;
        font-size: 1.875rem;
      }
    }
}

.reveal-item {
    opacity: 0;
    transition: opacity 1.3s;

    &--is-visible {
        opacity: 1;
        
        
        color:green;
    }    

    
}

